<%
var _id, title, body, user, product;
user = user || {};
%>
<div class="center-block">
    <h1 class="text-center"><a href="#app/products/id=<%= product %>">Product's</a> comment</h1>

    <div class="col-md-10 col-md-offset-1">
        <table class="table table-hover table-striped">
            <tbody>
            <tr>
                <td><b>Title:</b></td>
                <td><%= title %></td>
            </tr>
            <tr>
                <td><b>Body:</b></td>
                <td><%= body %></td>
            </tr>
            <tr>
                <td><b>User:</b></td>
                <td><a href="#app/users/id=<%= user._id %>">User</a></td>
            </tr>
            <tr>
                <td><b>Date:</b></td>
                <td><%= date %></td>
            </tr>
            <tr>
                <td><input id="edit" type="button" class="btn btn-primary" value="Edit">
                    <input id="delete" type="button" class="btn btn-warning" value="Delete"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
