<div class="clearfix"></div><br>
<div class="center-block">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-login">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-6">
                            <a href="#" class="active" id="login-form-link">Restoring Password</a>
                        </div>
                    </div>
                    <hr>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <form id="login-form" role="form" style="display: block;">
                                <div class="form-group">
                                    <input type="text" name="login" id="login" tabindex="1" class="form-control"
                                           placeholder="Phone or Email" value="">
                                </div>
                                <div id="loginSlider" style="display: none;">
                                    <div class="form-group">
                                        <input type="text" name="code" id="code" tabindex="3" class="form-control"
                                               placeholder="Enter Code">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-sm-6 col-sm-offset-3">
                                            <input type="button" name="login-submit" id="login-submit" tabindex="5"
                                                   class="form-control btn btn-login" value="Next">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="text-center">
                                                <a href="#login" tabindex="5" class="panel-login">Log In</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row text-center" id="message"></div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
