<div class="center-block">
    <div class="panel panel-default">
        <div class="panel-heading">Categories List</div>
        <table class="table user-list">
            <thead>
            <tr>
                <th>Category</th>
                <th id="name"><a>Name</a></th>
                <th>Products</th>
            </tr>
            </thead>
            <tbody>
            <% _.each(collection, function (category) { %>
            <tr>
                <td><a href="#app/categories/id=<%= category._id %>">
                    <img src="<%= category.picturePath %>" alt="" width="64"></a></td>
                <td><a href="#app/categories/id=<%= category._id %>"><%= category.name %></a></td>
                <td><a href="#app/categories/id=<%= category._id %>/child=products">Products</a></td>
                <% if (APP.admin) { %>
                <td><input type="checkbox" name="<%= category._id %>" class="categories"></td>
                <% } %>
            </tr>
            <% }); %>
            </tbody>
        </table>
    </div>
</div>
<% if (APP.admin) { %>
<div>
    <input id="create" type="button" class="btn btn-success" value="Create">
    <input id="edit" type="button" class="btn btn-primary" value="Edit">
    <input id="delete" type="button" class="btn btn-danger" value="Delete">
</div>
<% } %>
